 .home{
    background-image: url('/assets/home/background-home-mobile.jpg');

    @media (min-width: 35em){
      background-image: url('/assets/home/background-home-tablet.jpg');
      background-position: center center;
    }
    @media (min-width: 45em){
      background-image: url('/assets/home/background-home-desktop.jpg');
      background-size: cover;

    .grid-container--home {
    padding-bottom: #{"max(6rem, 15vh)"};
    align-items: end;
    > *:first-child {
      grid-column: 2;
    }
    > *:last-child {
      grid-column: 3;
    }
  }
    }
 }

